* {
  padding: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
}

.app {
  position: relative;
  top: 50px;
  background: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
  filter: drop-shadow(0 0 6px whitesmoke);
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 70px;
  list-style-type: none;
  margin: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}


.user-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.text {
  font: 16px 'Montserrat', sans-serif;
  line-height: 1.25;
  text-align: center;
  margin: 0;

  &_user-content {
    height: 225px;
    color: darken(#9F9F9F, 35%);
    padding-top: 10px;

    &:first-letter {
      text-transform: uppercase;
      font: 20px 'Besley', serif;
      line-height: 1;
    }
  }

  &_field {
    text-align: left;
    width: 90px;
    color: darken(#9F9F9F, 35%);
    font-weight: bold;
  }

  &_value {
    width: 200px;
    text-align: left;
    font-style: italic;
  }
}

.avatar {
  img {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 3px;
    display: block;
    width: 100px;
    height: 100px;
  }
}

.controls {
  display: flex;
  width: 70px;
  justify-content: space-between;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    outline: none;
    background: whitesmoke;

    svg {
      width: 30px;
      height: 30px;

      polyline {
        stroke: lighten(black, 35%);
      }

      line {
        stroke: lighten(black, 35%);
      }
    }

    &_left {
      transform: rotate(180deg);
    }

    &:hover {
      svg {
        polyline {
          stroke: lighten(black, 25%);
        }

        line {
          stroke: lighten(black, 25%);
        }
      }
    }
  }
}